.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav {
    width: 73%;
    padding: 1%;
    background-color: #F8F2E7;
}

ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    height: 600px;
    padding: 25px;
    background-color: #F8F2E7;
}

.content {
    width: 500px;
    margin: 0 auto;
    background-color: #F8F2E7;
}

<!-- My UX Skills section coded using CSS flex -->
.flexContainer {
    display:flex;
    width: 33%;
    flex-direction: row;
}

.workGrid {
    display: grid;
}

.grid-container {
    display: grid;
    grid-template-areas: 'area1 area2 area3 area4';
    grid-template-rows: 100px 300px;
    grid-template-columns: auto auto auto auto;
}

footer {
    background-color: #F8F2E7;
}

@media only screen and (max-width: 600) {
    flex-direction: column;
    width: 100%;
    grid-template-areas: 'area1 area2 area3 area4';
    grid-template-rows: 100px 300px;
    grid-template-columns: auto auto auto auto;
}

